name: Swift CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  test:
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Swift Version
        run: swift --version

      - name: Build
        run: swift build

      - name: Test
        run: swift test
